{% extends 'base.html' %}
{% block body %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Commission</a>
	  	</div>

	  	<ul class="nav navbar-nav">
        <li class="active"><a href="/do_query">Query <span class="sr-only">(current)</span></a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right"> 
		<li><a href="/logout">Logout</a></li>
		</ul>
		</div>
	</nav>

{% if g.user %}
<h3>
Hello, {{ g.user.username }} 
</h3>
{% endif %}

{% for category, message in get_flashed_messages(with_categories=True) %}
{% if category == 'success' %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% elif category == 'info' %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% elif category == 'error' %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}

 <div class="col-md-4 col-md-offset-4">
<h3>Query</h3>
<br>
<form method="POST" action="/do_query">

<div class="form-group">
 <label>Salesman</label>

 <select class="form-control" name="id">
 {% for user in users%}
  <option value="{{ user.id }}">{{ user.username }}</option>
{% endfor %}
</select>

 </div>
 
<div class="form-group">
  <label>Year</label>
  <select class="form-control" name="year">
{% for y in range(2000, 2020) %}
  <option value="{{ y }}">{{ y }}</option>
{% endfor %}
</select>
  </div>

   <div class="form-group">
  <label>Month</label> 
  <select class="form-control" name="month">
{% for m in range(1, 13) %}
  <option value="{{ m }}">{{ m }}</option>
{% endfor %}
  </select>
  </div>
   <center><button type="submit" class="btn btn-default">Submit</button></center>

</form>
</div>

</div>
</div>

{% endblock %}
