{% extends 'base.html' %}
{% block body %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Commission</a>
	  	</div>

	  	<ul class="nav navbar-nav">
        <li class="active"><a href="/salesman">New sale <span class="sr-only">(current)</span></a></li>
        <li><a href="/query">Query</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right"> 
		<li><a href="/logout">Logout</a></li>
		</ul>
		</div>
	</nav>

{% if g.user %}
<h3>
Hello, {{ g.user.username }} 
</h3>

{% for category, message in get_flashed_messages(with_categories=True) %}
{% if category == 'success' %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% elif category == 'info' %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% elif category == 'error' %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}
{% endfor %}


<div class="row">

 <div class="col-md-4 col-md-offset-4">
 <h3>New sale</h3>
 <br>
<form method="POST" action="/do_sale" id="sales_form">
<div class="form-group">
    <label for="inputLocks">Locks &nbsp;({{ left_locks }})</label>
    <input class="form-control" type="number" min="0" max="{{ left_locks }}" value="0" required name="locks" id="form_locks">
    </div>
<div class="form-group">
    <label for="inputStocks">Stocks ({{ left_stocks }})</label>
    <input class="form-control" type="number" min="0" max="{{ left_stocks }}" value="0" required name="stocks" id="form_stocks">
</div>
<div class="form-group">
    <label for="inputBarrels">Barrels ({{ left_barrels }})</label>
     <input class="form-control" type="number" min="0" max="{{ left_barrels }}" value="0" required name="barrels" id="form_barrels">
</div>

 <button type="submit" {% if early_finish or (left_locks == 0 and left_stocks == 0 and left_barrels == 0) %} disabled="disabled" {% endif %} class="btn btn-default">Submit</button>

&nbsp;
<button onclick="return finishThisMonth()" {% if early_finish or (left_locks == 0 and left_stocks == 0 and left_barrels == 0) %} disabled="disabled" {% endif %} class="btn btn-default">Finish this month</button>

&nbsp;

<button onclick="return openMonthReport()" {% if not(early_finish and (left_locks == 0 and left_stocks == 0 and left_barrels == 0)) %} disabled="disabled" {% endif %} class="btn btn-default">Monthly Report</button>

</form>
</div>



</div>
</div>

<script type="text/javascript">

var checkInput = function() {
	var locks = $("#form_locks");
	var stocks = $("form_stocks");
	var barrels = $("form_barrels");

	if (locks.val() === 0 && stocks.val() === 0 && barrels.val() === 0) {
		return false;
	}
	return true;
};

var finishThisMonth = function() {
	var locks = $("#form_locks");
	var stocks = $("form_stocks");
	var barrels = $("form_barrels");
	locks.attr("min", "-1");
	stocks.attr("min", "-1");
	barrels.attr("min", "-1");
	locks.val("-1");
	stocks.val("-1");
	barrels.val("-1");

};

var openMonthReport = function() {
	location.href = "/query/this_month";
	return false;
};
</script>
{% endif %}
{% endblock %}
